USE [PORTALNR]
GO
/****** Object:  Table [dbo].[TB_COLABORADOR]    Script Date: 15/05/2023 23:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_COLABORADOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NORMATIVO] [nvarchar](10) NOT NULL,
	[MATRICULA] [int] NOT NULL,
	[NOME] [nvarchar](max) NULL,
	[COORDENACAO] [nvarchar](max) NOT NULL,
	[SITUACAO] [nvarchar](max) NOT NULL,
	[VEICULO] [nvarchar](20) NULL,
	[DTCERTIFICACAO] [datetime] NULL,
	[DTREVALIDACAO] [datetime] NULL,
	[DTVIGENCIA] [datetime] NULL,
	[ELEGIVEL] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_COORDENACAO]    Script Date: 15/05/2023 23:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_COORDENACAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COORDENACAO] [nvarchar](max) NOT NULL,
	[DTCADASTRO] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_EMAILCOORDENACAO]    Script Date: 15/05/2023 23:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_EMAILCOORDENACAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COORDENACAO] [nvarchar](max) NOT NULL,
	[RESPONSAVEL] [nvarchar](max) NOT NULL,
	[EMAIL] [nvarchar](max) NOT NULL,
	[ATIVO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_FUNCIONARIOS_MTR]    Script Date: 15/05/2023 23:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_FUNCIONARIOS_MTR](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODEMP] [int] NOT NULL,
	[EMPRESA] [varchar](max) NOT NULL,
	[MATRICULA] [int] NOT NULL,
	[FUNCIONARIO] [varchar](max) NOT NULL,
	[CARGO] [varchar](max) NOT NULL,
	[COORDENACAO] [varchar](max) NOT NULL,
	[GERENCIA] [varchar](max) NOT NULL,
	[CENTRO_CUSTO] [varchar](max) NOT NULL,
	[DESC_CENTRO_CUSTO] [varchar](max) NOT NULL,
	[SITUACAO] [varchar](max) NOT NULL,
	[COD_GH] [varchar](max) NOT NULL,
	[DESC_GH] [varchar](max) NOT NULL,
	[DTA_SITUACAO] [int] NOT NULL,
	[DTA_ADMISSAO] [int] NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[DTA_ATUALIZACAO] [datetime] NOT NULL,
 CONSTRAINT [PK_CODIGO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_LOG]    Script Date: 15/05/2023 23:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_LOG](
	[IDREG] [bigint] IDENTITY(1,1) NOT NULL,
	[QUANT_REGISTROS] [int] NOT NULL,
	[HORA_ATUALIZADO] [datetime] NOT NULL,
 CONSTRAINT [PK_TB_LOG] PRIMARY KEY CLUSTERED 
(
	[IDREG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_NORMATIVOS]    Script Date: 15/05/2023 23:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_NORMATIVOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NORMATIVO] [varchar](10) NOT NULL,
	[VIGENCIA] [int] NOT NULL,
	[DESCRICAO] [nvarchar](max) NOT NULL,
	[ATIVO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_PERFIL]    Script Date: 15/05/2023 23:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PERFIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
	[ATIVO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_SITUACAONR]    Script Date: 15/05/2023 23:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_SITUACAONR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [nvarchar](35) NOT NULL,
	[ATIVO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_TURMAS]    Script Date: 15/05/2023 23:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TURMAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DTTURMA] [datetime] NULL,
	[LOCAL] [nvarchar](30) NOT NULL,
	[VAGAS] [int] NOT NULL,
	[VAGASDISPONIVEIS] [int] NULL,
	[PALESTRANTE] [nvarchar](50) NULL,
	[DESCRICAO] [nvarchar](250) NOT NULL,
	[ID_NR] [int] NOT NULL,
	[ID_TEMA] [int] NOT NULL,
	[DTTURMAFIM] [datetime] NOT NULL,
	[CARGA] [int] NOT NULL,
	[ATIVO] [bit] NOT NULL,
	[VEICULO] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_TURMASPARTICIPANTES]    Script Date: 15/05/2023 23:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TURMASPARTICIPANTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](max) NOT NULL,
	[COORDENACAO] [nvarchar](max) NOT NULL,
	[ID_TURMA] [int] NOT NULL,
	[MATRICULA] [int] NOT NULL,
	[PRESENCA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_TURMASTEMAS]    Script Date: 15/05/2023 23:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TURMASTEMAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [nvarchar](30) NOT NULL,
	[ATIVO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_USUARIO]    Script Date: 15/05/2023 23:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NMUSUARIO] [nvarchar](max) NOT NULL,
	[LOGIN] [nvarchar](max) NOT NULL,
	[EMAIL] [nvarchar](max) NOT NULL,
	[SENHA] [nvarchar](max) NOT NULL,
	[DTCADASTRO] [datetime] NOT NULL,
	[DTDESATIVACAO] [datetime] NOT NULL,
	[ID_PERFIL] [int] NOT NULL,
	[PRIMEIROACESSO] [bit] NOT NULL,
	[ATIVO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_VEICULOS]    Script Date: 15/05/2023 23:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_VEICULOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VEICULO] [varchar](30) NOT NULL,
	[ATIVO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TB_COLABORADOR] ON 

INSERT [dbo].[TB_COLABORADOR] ([ID], [NORMATIVO], [MATRICULA], [NOME], [COORDENACAO], [SITUACAO], [VEICULO], [DTCERTIFICACAO], [DTREVALIDACAO], [DTVIGENCIA], [ELEGIVEL]) VALUES (1, N'NR-10', 1002, N'BRUCE WAYNE', N'COORD TECNOLOGIA CRIMINAL', N'ATIVIDADE NORMAL', N'', CAST(0x0000AFFE00000000 AS DateTime), NULL, CAST(0x0000B16C00000000 AS DateTime), 1)
INSERT [dbo].[TB_COLABORADOR] ([ID], [NORMATIVO], [MATRICULA], [NOME], [COORDENACAO], [SITUACAO], [VEICULO], [DTCERTIFICACAO], [DTREVALIDACAO], [DTVIGENCIA], [ELEGIVEL]) VALUES (2, N'NR-11', 1003, N'WALLY WEST  ', N'PRG COORD CRIMINAL', N'ATIVIDADE NORMAL', N'CARRETÃO', CAST(0x0000AFF600000000 AS DateTime), NULL, CAST(0x0000B43E00000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TB_COLABORADOR] OFF
SET IDENTITY_INSERT [dbo].[TB_EMAILCOORDENACAO] ON 

INSERT [dbo].[TB_EMAILCOORDENACAO] ([ID], [COORDENACAO], [RESPONSAVEL], [EMAIL], [ATIVO]) VALUES (1, N'COORD TECNOLOGIA CRIMINAL', N'Bwayne', N'bwayne@portalnr.com.br', 1)
SET IDENTITY_INSERT [dbo].[TB_EMAILCOORDENACAO] OFF
SET IDENTITY_INSERT [dbo].[TB_FUNCIONARIOS_MTR] ON 

INSERT [dbo].[TB_FUNCIONARIOS_MTR] ([CODIGO], [CODEMP], [EMPRESA], [MATRICULA], [FUNCIONARIO], [CARGO], [COORDENACAO], [GERENCIA], [CENTRO_CUSTO], [DESC_CENTRO_CUSTO], [SITUACAO], [COD_GH], [DESC_GH], [DTA_SITUACAO], [DTA_ADMISSAO], [EMAIL], [DTA_ATUALIZACAO]) VALUES (1, 5, N'SEGTRAB TREINAMENTOS NORMATIVOS LTDA', 8893, N'DANIEL BENAMOR FERILLES', N'ANALISTA DE TI PL', N'COORDENACAO DE SISTEMAS', N'-', N'PNR001', N'COORDENACAO DE SISTEMAS', N'ATIVIDADE NORMAL', N'1000504030002000000', N'', 20210822, 20160413, N'DFERILLES@METRORIO.COM.BR', CAST(0x0000ADF801682622 AS DateTime))
INSERT [dbo].[TB_FUNCIONARIOS_MTR] ([CODIGO], [CODEMP], [EMPRESA], [MATRICULA], [FUNCIONARIO], [CARGO], [COORDENACAO], [GERENCIA], [CENTRO_CUSTO], [DESC_CENTRO_CUSTO], [SITUACAO], [COD_GH], [DESC_GH], [DTA_SITUACAO], [DTA_ADMISSAO], [EMAIL], [DTA_ATUALIZACAO]) VALUES (2, 5, N'SEGTRAB TREINAMENTOS NORMATIVOS LTDA', 1001, N'VICTOR STONE', N'ENGENHEIRO', N'COORDENAÇÃO DE ENGENHARIA', N'GERÊNCIA DE ROBOTICA', N'PNR002', N'COORD DE ENGENHARIA ROBOTICA', N'ATIVIDADE NORMAL', N'1000458929002000000', N'', 20210822, 20160413, N'VSTONE@METRORIO.COM.BR', CAST(0x0000ADF8017E27FD AS DateTime))
INSERT [dbo].[TB_FUNCIONARIOS_MTR] ([CODIGO], [CODEMP], [EMPRESA], [MATRICULA], [FUNCIONARIO], [CARGO], [COORDENACAO], [GERENCIA], [CENTRO_CUSTO], [DESC_CENTRO_CUSTO], [SITUACAO], [COD_GH], [DESC_GH], [DTA_SITUACAO], [DTA_ADMISSAO], [EMAIL], [DTA_ATUALIZACAO]) VALUES (3, 5, N'SEGTRAB TREINAMENTOS NORMATIVOS LTDA', 1002, N'BRUCE WAYNE', N'DIRETOR', N'COORD TECNOLOGIA CRIMINAL', N'GERÊNCIA DE OPERAÇÕES', N'PNR003', N'COORD TECNOLOGIA CRIMINAL', N'ATIVIDADE NORMAL', N'9000000000000000000', N'', 20100209, 20040601, N'BWAYNE@PRTALNR.COM.BR', CAST(0x0000AE610052697D AS DateTime))
SET IDENTITY_INSERT [dbo].[TB_FUNCIONARIOS_MTR] OFF
SET IDENTITY_INSERT [dbo].[TB_NORMATIVOS] ON 

INSERT [dbo].[TB_NORMATIVOS] ([ID], [NORMATIVO], [VIGENCIA], [DESCRICAO], [ATIVO]) VALUES (1, N'NR-10', 1, N'Norma regulamentadora para trabalhos com eletricidade', 1)
INSERT [dbo].[TB_NORMATIVOS] ([ID], [NORMATIVO], [VIGENCIA], [DESCRICAO], [ATIVO]) VALUES (2, N'NR-10 SEP', 2, N'Norma regulamentadora para trabalhos com sistemas elétricos de alta potência', 1)
INSERT [dbo].[TB_NORMATIVOS] ([ID], [NORMATIVO], [VIGENCIA], [DESCRICAO], [ATIVO]) VALUES (3, N'NR-11', 3, N'A Norma Regulamentadora nº 11 estabelece os procedimentos de segurança que devem ser executados para o manuseio, transporte e movimentação de cargas de todos os tipos.', 1)
SET IDENTITY_INSERT [dbo].[TB_NORMATIVOS] OFF
SET IDENTITY_INSERT [dbo].[TB_PERFIL] ON 

INSERT [dbo].[TB_PERFIL] ([ID], [DESCRICAO], [ATIVO]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[TB_PERFIL] ([ID], [DESCRICAO], [ATIVO]) VALUES (2, N'Consulta', 1)
SET IDENTITY_INSERT [dbo].[TB_PERFIL] OFF
SET IDENTITY_INSERT [dbo].[TB_SITUACAONR] ON 

INSERT [dbo].[TB_SITUACAONR] ([ID], [DESCRICAO], [ATIVO]) VALUES (1, N'AFASTADO < = 15 DIAS', 1)
INSERT [dbo].[TB_SITUACAONR] ([ID], [DESCRICAO], [ATIVO]) VALUES (2, N'AFASTADO > 15 DIAS', 1)
INSERT [dbo].[TB_SITUACAONR] ([ID], [DESCRICAO], [ATIVO]) VALUES (3, N'DESLIGADO', 1)
SET IDENTITY_INSERT [dbo].[TB_SITUACAONR] OFF
SET IDENTITY_INSERT [dbo].[TB_TURMAS] ON 

INSERT [dbo].[TB_TURMAS] ([ID], [DTTURMA], [LOCAL], [VAGAS], [VAGASDISPONIVEIS], [PALESTRANTE], [DESCRICAO], [ID_NR], [ID_TEMA], [DTTURMAFIM], [CARGA], [ATIVO], [VEICULO]) VALUES (1, CAST(0x0000B00A0083D600 AS DateTime), N'Auditório', 12, 11, N'Arthur Curry', N'Todos os treinandos devem estar portando EPI completo.', 1, 1, CAST(0x0000B00A00C5C100 AS DateTime), 8, 1, N'')
SET IDENTITY_INSERT [dbo].[TB_TURMAS] OFF
SET IDENTITY_INSERT [dbo].[TB_TURMASPARTICIPANTES] ON 

INSERT [dbo].[TB_TURMASPARTICIPANTES] ([ID], [NOME], [COORDENACAO], [ID_TURMA], [MATRICULA], [PRESENCA]) VALUES (1, N'BRUCE WAYNE', N'COORD TECNOLOGIA CRIMINAL', 1, 1002, 0)
SET IDENTITY_INSERT [dbo].[TB_TURMASPARTICIPANTES] OFF
SET IDENTITY_INSERT [dbo].[TB_TURMASTEMAS] ON 

INSERT [dbo].[TB_TURMASTEMAS] ([ID], [DESCRICAO], [ATIVO]) VALUES (1, N'Certificação', 1)
INSERT [dbo].[TB_TURMASTEMAS] ([ID], [DESCRICAO], [ATIVO]) VALUES (2, N'Revalidação', 1)
INSERT [dbo].[TB_TURMASTEMAS] ([ID], [DESCRICAO], [ATIVO]) VALUES (3, N'Certificação/Revalidação', 1)
SET IDENTITY_INSERT [dbo].[TB_TURMASTEMAS] OFF
SET IDENTITY_INSERT [dbo].[TB_USUARIO] ON 

INSERT [dbo].[TB_USUARIO] ([ID], [NMUSUARIO], [LOGIN], [EMAIL], [SENHA], [DTCADASTRO], [DTDESATIVACAO], [ID_PERFIL], [PRIMEIROACESSO], [ATIVO]) VALUES (1, N'Daniel Ferilles', N'dferilles', N'dferilles@portalnr.com.br', N'797CB93F8B1159E6DC68B2B7FDDD6C55', CAST(0x0000ADF8011419CA AS DateTime), CAST(0x0000ADF8011419CA AS DateTime), 1, 1, 1)
INSERT [dbo].[TB_USUARIO] ([ID], [NMUSUARIO], [LOGIN], [EMAIL], [SENHA], [DTCADASTRO], [DTDESATIVACAO], [ID_PERFIL], [PRIMEIROACESSO], [ATIVO]) VALUES (2, N'Bruce Wayne', N'bwayne', N'bwayne@portalnr.com.br', N'797CB93F8B1159E6DC68B2B7FDDD6C55', CAST(0x0000ADF801151801 AS DateTime), CAST(0x0000ADF801151801 AS DateTime), 1, 1, 1)
INSERT [dbo].[TB_USUARIO] ([ID], [NMUSUARIO], [LOGIN], [EMAIL], [SENHA], [DTCADASTRO], [DTDESATIVACAO], [ID_PERFIL], [PRIMEIROACESSO], [ATIVO]) VALUES (3, N'Clark Kent', N'ckent', N'ckent@portalnr.com.br', N'797CB93F8B1159E6DC68B2B7FDDD6C55', CAST(0x0000ADF801151865 AS DateTime), CAST(0x0000ADF801151865 AS DateTime), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[TB_USUARIO] OFF
SET IDENTITY_INSERT [dbo].[TB_VEICULOS] ON 

INSERT [dbo].[TB_VEICULOS] ([ID], [VEICULO], [ATIVO]) VALUES (1, N'BOB CAT', 1)
INSERT [dbo].[TB_VEICULOS] ([ID], [VEICULO], [ATIVO]) VALUES (2, N'CARRETÃO', 1)
INSERT [dbo].[TB_VEICULOS] ([ID], [VEICULO], [ATIVO]) VALUES (3, N'EMPILHADEIRA', 1)
SET IDENTITY_INSERT [dbo].[TB_VEICULOS] OFF
ALTER TABLE [dbo].[TB_COLABORADOR] ADD  DEFAULT ((1)) FOR [ELEGIVEL]
GO
ALTER TABLE [dbo].[TB_TURMAS] ADD  DEFAULT ((1)) FOR [ID_TEMA]
GO
ALTER TABLE [dbo].[TB_TURMAS] ADD  DEFAULT (getdate()) FOR [DTTURMAFIM]
GO
ALTER TABLE [dbo].[TB_TURMAS] ADD  DEFAULT ((2)) FOR [CARGA]
GO
ALTER TABLE [dbo].[TB_TURMAS] ADD  DEFAULT ((1)) FOR [ATIVO]
GO
ALTER TABLE [dbo].[TB_USUARIO] ADD  DEFAULT (getdate()) FOR [DTDESATIVACAO]
GO
ALTER TABLE [dbo].[TB_TURMAS]  WITH CHECK ADD FOREIGN KEY([ID_NR])
REFERENCES [dbo].[TB_NORMATIVOS] ([ID])
GO
ALTER TABLE [dbo].[TB_TURMAS]  WITH CHECK ADD FOREIGN KEY([ID_TEMA])
REFERENCES [dbo].[TB_TURMASTEMAS] ([ID])
GO
ALTER TABLE [dbo].[TB_TURMASPARTICIPANTES]  WITH CHECK ADD FOREIGN KEY([ID_TURMA])
REFERENCES [dbo].[TB_TURMAS] ([ID])
GO
ALTER TABLE [dbo].[TB_USUARIO]  WITH CHECK ADD  CONSTRAINT [fk_USU_PERFIL] FOREIGN KEY([ID_PERFIL])
REFERENCES [dbo].[TB_PERFIL] ([ID])
GO
ALTER TABLE [dbo].[TB_USUARIO] CHECK CONSTRAINT [fk_USU_PERFIL]
GO
