USE [PORTALNR]
GO
/****** Object:  View [dbo].[vwCOLABORADOR]    Script Date: 15/05/2023 23:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vwCOLABORADOR] AS

SELECT A.[ID]
      ,B.[ID] AS [ID_NR]
      ,A.[NORMATIVO]
      ,A.[MATRICULA]
      ,A.[NOME]
      ,A.[COORDENACAO]
	  ,D.ID AS [ID_SITUACAO]
      ,A.[SITUACAO]
	  ,E.[SITUACAO] AS [SITUACAO_EFETIVO]
	  ,C.[ID] AS [ID_VEICULO]
      ,A.[VEICULO]
      ,A.[DTCERTIFICACAO]
      ,A.[DTREVALIDACAO]
      ,A.[DTVIGENCIA]	   
	  ,CASE WHEN A.[DTVIGENCIA] IS NULL THEN NULL 
			ELSE(CASE WHEN (DATEDIFF(DAY, A.[DTVIGENCIA], GETDATE()) * -1)<=0 THEN 0
			     ELSE (DATEDIFF(DAY, A.[DTVIGENCIA], GETDATE()) * -1)  END)END AS [VENCIMENTO]
	  ,CASE WHEN A.[DTVIGENCIA] IS NULL THEN 'AGUARDANDO CERTIFICAÇÃO'
	        WHEN (DATEDIFF(DAY, A.[DTVIGENCIA], GETDATE()) * -1) <= 0 THEN 'EXPIRADO'
	        WHEN (DATEDIFF(DAY, A.[DTVIGENCIA], GETDATE()) * -1) > 90 THEN 'VIGENTE' 
			WHEN (DATEDIFF(DAY, A.[DTVIGENCIA], GETDATE()) * -1) <= 90 THEN 'À VENCER' END AS [STATUSNR]
	  ,[ELEGIVEL]
  FROM [dbo].[TB_COLABORADOR] A
  INNER JOIN TB_NORMATIVOS B WITH(NOLOCK)ON B.NORMATIVO = A.NORMATIVO
  LEFT JOIN TB_VEICULOS C WITH(NOLOCK)ON C.VEICULO = A.VEICULO
  INNER JOIN TB_SITUACAONR D WITH(NOLOCK)ON D.DESCRICAO = A.SITUACAO
  INNER JOIN TB_FUNCIONARIOS_MTR E WITH(NOLOCK)ON E.MATRICULA = A.MATRICULA




GO
/****** Object:  View [dbo].[vwEMAILSCOORDENACAO]    Script Date: 15/05/2023 23:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwEMAILSCOORDENACAO] AS

SELECT DISTINCT
	 A.[COORDENACAO]
	,B.[EMAIL]
FROM TB_COLABORADOR A LEFT JOIN TB_EMAILCOORDENACAO B ON A.COORDENACAO = B.COORDENACAO
WHERE A.[COORDENACAO] <> '-'

GO
/****** Object:  View [dbo].[vwFUNCIONARIOS_MTR]    Script Date: 15/05/2023 23:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vwFUNCIONARIOS_MTR] AS

SELECT [CODIGO]
      ,[CODEMP]
      ,[EMPRESA]
      ,[MATRICULA]
      ,[FUNCIONARIO]
      ,[CARGO]
      ,[COORDENACAO]
      ,[GERENCIA]
      ,[CENTRO_CUSTO]
      ,[DESC_CENTRO_CUSTO] AS [DESCRICAO_CC]
      ,[SITUACAO]
      ,[COD_GH]
      ,[DESC_GH]
	  ,CONVERT(datetime,CONVERT(CHAR(8),[DTA_SITUACAO])) AS [DTA_SITUACAO]
      ,CONVERT(datetime,CONVERT(CHAR(8),[DTA_ADMISSAO])) AS [DTA_ADMISSAO]	  
      ,[DTA_ATUALIZACAO]
  FROM [dbo].[TB_FUNCIONARIOS_MTR]



GO
/****** Object:  View [dbo].[vwTURMAS]    Script Date: 15/05/2023 23:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwTURMAS] AS

SELECT A.[ID]
      ,B.[ID] AS [ID_NR]
      ,B.[NORMATIVO] AS [NR]
	  ,A.[DTTURMA]
	  ,A.[DTTURMAFIM]
	  ,A.[CARGA]
	  ,A.[LOCAL]
	  ,A.[VAGAS]
	  ,(A.[VAGAS] - (SELECT COUNT(C.[ID]) FROM [TB_TURMASPARTICIPANTES] C WHERE C.[ID_TURMA] = A.[ID])) AS [VAGASDISPONIVEIS]
	  ,A.[PALESTRANTE]
	  ,C.[ID] AS [ID_TEMA]
	  ,C.[DESCRICAO] AS [TEMA]	  
	  ,A.[DESCRICAO]
	  ,A.[VEICULO]
	  ,A.[ATIVO]
FROM [dbo].[TB_TURMAS] A 
INNER JOIN TB_NORMATIVOS B WITH(NOLOCK)ON B.ID = A.ID_NR
INNER JOIN TB_TURMASTEMAS C WITH(NOLOCK)ON C.ID = A.ID_TEMA
GO
/****** Object:  View [dbo].[vwTURMASPARTICIPANTES]    Script Date: 15/05/2023 23:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vwTURMASPARTICIPANTES] AS

SELECT A.[ID]
	  ,C.[ID_TURMA]    	  
      ,B.[NORMATIVO] AS [NR]
	  ,A.[DTTURMA]
	  ,A.[DTTURMAFIM]
	  ,A.[CARGA]
	  ,A.[PALESTRANTE]
	  ,D.[DESCRICAO] AS [TEMA]
	  ,A.[DESCRICAO]
	  ,C.MATRICULA
	  ,C.NOME
	  ,C.COORDENACAO
	  ,C.[PRESENCA]
FROM [dbo].[TB_TURMAS] A 
INNER JOIN TB_NORMATIVOS B WITH(NOLOCK)ON B.ID = A.ID_NR
INNER JOIN TB_TURMASPARTICIPANTES C WITH(NOLOCK)ON C.ID_TURMA = A.ID
INNER JOIN TB_TURMASTEMAS D WITH(NOLOCK)ON D.ID = A.ID_TEMA


GO
/****** Object:  View [dbo].[vwUSUARIOPERFIL]    Script Date: 15/05/2023 23:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vwUSUARIOPERFIL] AS

SELECT A.[ID]
      ,A.[NMUSUARIO]
      ,A.[LOGIN]
	  ,A.[EMAIL]
	  ,A.[DTCADASTRO]	 
	  ,A.[DTDESATIVACAO] 
	  ,B.[ID] AS [IDPERFIL]
	  ,B.[DESCRICAO]
	  ,A.[PRIMEIROACESSO]
	  ,A.[ATIVO]
FROM TB_USUARIO A
INNER JOIN TB_PERFIL B WITH(NOLOCK)ON B.ID = A.ID_PERFIL


GO
